@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');

.developer{
  font-family: 'Goldman', cursive;
}

:root{
  --color-blue: rgb(47, 0, 255);
  --color-yellow: #FBBF24;
  --color-white: white;
  --color-black: black;
  --color-red: #c8058e;
  --color-indigo: indigo;
}

body{
  background-image: url('texture-blue.jpg');
}

.list{
  display: inline;
  padding: 0rem 1rem;
}

.unlist{
  text-align: right;
}

.navbar{
  background-color: var(--color-blue);
  padding: 1rem;
  border-bottom-left-radius: 2rem;

}

.nav2_Projects{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}
.nav3_Blogs{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}
.nav4_Contact{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}

a:hover{
  background-color: rgb(131, 131, 241);
}

.profile{
  padding: 3rem 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  height: auto; 
  border-radius: 50%;
}

.name{
  padding: 0rem 25rem;
}

.intro{
  padding: 0rem 25rem;
}

.tech{
  text-align: center;
  font-size: large;
}

.tech span{
  color: purple;
}

.section{
  background-color: var(--color-white);
}

.section h1{
  text-align: center;
  padding: 1rem 1rem;
}

.geturinfo{
  list-style: none;
  text-align: right;
}

button{
  background-color: indigo;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: absolute;
  right: 300px;
  top: 780px;
  right: 550px;
}

.More-info{
  text-decoration: none;
  color: var(--color-white);
}

.tech{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 15%;
  height: auto;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 100px;
  background-color: var(--color-white);
  padding: 3rem
}

.list-profile{
  padding: 1rem 1rem;
}

.media{
  background-color: var(--color-red);
  border-radius: 50%;
}

.media ul li{
  display: inline;
  height: auto
}

.media h1{
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.media ul{
  text-align: center;
  padding-bottom: 2rem;
}