@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');

.developer{
  font-family: 'Goldman', cursive;
}

:root{
  --color-blue: rgb(0, 0, 200);
  --color-yellow: #FBBF24;
  --color-white: white;
  --color-black: black;
  --color-red: #B91C1C;
  --color-pink: rgb(255, 0, 221);
}

body{
  background-image: url('texture-blue.jpg');
}

.list{
  display: inline;
  padding: 0rem 1rem;
}

.unlist{
  text-align: right;
}

.navbar{
  background-color: var(--color-blue);
  padding: 1rem;
  border-bottom-left-radius: 2rem;

}

.nav2_Projects{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}
.nav3_Blogs{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}
.nav4_Contact{
  text-decoration: none;  
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-weight: bold;
}

ul{
  list-style-type: none;
}

.project{
  padding: 3rem 3rem;
  text-align: center;
}

.link{
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  background-color: indigo;
  border-radius: 0.2rem;
  color: white;
}

a:hover{
  background-color: rgb(131, 131, 241);
}