@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


:root{
  --color-black: black;
  --color-maroon: rgb(92, 18, 18);
  --color-orange: orangered;
  --color-white: white;
  --color-gray: rgb(216, 210, 210);
  --color-darkGray: darkGray;
  --color-darkGray-background: rgb(116, 108, 108);
  --color-gray: lightGray;
  --color-blue: #1E3A8A;
  --color-yellow: yellow;
  --color-violet: rgb(50, 2, 104);
  --color-lightBlue: #8010ca;
}
body{
  margin: 0px;
  padding: 0px;
}

.navbar{
  padding: 0 0 1rem;
  width:100%;
}

.navbar-nav{
  margin-left: auto;
  font-size: 24px;
}

#home{
  background-position: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

#name{
  font-size: 32px;
  font-style: italic;
}

.centered {
  background: rgb(0, 0, 0);
  background: rgba(7, 7, 7, 0.7);
  padding: 10px; 
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Montserrat";
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
}

.about{
  margin-top: 0%;
  padding: 5rem;
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
  color: black;
  background-image: url('./images/about.jpg');
  height: auto;
  width: auto;
  padding: 7% 12%;
  filter: brightness(110%);
}

#resumeBtn{
  text-decoration: none;
  color: var(--color-white);
}

.tech{
  width: 10%;
}

#features, #blogs{
  background-image: url('./images/colorful-background.jpg');
  text-align: center;
  font-weight: bolder;
  font-family: "Montserrat";
  color: rgb(5, 5, 5);
  padding: 7% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

#myskills{
  padding-top: 5%;
}

#projects, #connect{
  text-align: center;
  font-weight: bolder ;
  font-family: "Montserrat";
  color: rgb(5, 5, 5);
  padding: 7% 10%; 
  background-image: url("./images/light-background.jpg");
  filter: brightness(95%);
}  

.row>*{
  padding-bottom: 5%;
}

.connect{
  padding: 5%;
}
.list-inline-item{
  padding: 2%;
}
