@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
:root {
    --color-black: black;
    --color-lightblack: rgba(93, 85, 85, 0.849);
    --color-maroon: rgb(92, 18, 18);
    --color-orange: rgb(248, 89, 31);
    --color-white: white;
    --color-gray: rgb(216, 210, 210);
    --color-darkGray: rgb(77, 72, 72);
    --color-darkGray-background: rgb(116, 108, 108);
    --color-gray: lightGray;
    --color-blue: #1E3A8A;
    --color-yellow: yellow;
    --color-violet: rgb(50, 2, 104);
    --color-lightBlue: #8010ca;
    --color-lightGray: rgb(230, 231, 238);
    --color-bluegreen: rgb(9, 52, 68);
    --color-bluegreenlight: rgb(76, 100, 109);
}

body {
    margin: 0px;
    padding: 0px;
}


/* ---------------nav--------------------- */

.topnav {
    overflow: hidden;
    background-color: var(--color-white);
    padding: 10px 25%;
    /* width: 50%; */
}

.topnav a {
    float: left;
    display: block;
    color: var(--color-black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(55, 36, 228) 50%, rgb(18, 173, 96) 50%);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* --------------------------------------- */


/* ---------------home-------------------- */

.home {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url("./images/home-bg.p");
    background-size: 110%;
    background-repeat: no-repeat;
    /* padding: 20px 0; */
}

.intro {
    flex: 0.6;
    margin-left: 10%;
}

.prof-img {
    flex: 0.4;
    /* margin-right: 5%; */
    /* background-image: url('./images/svg-bg.svg'); */
    background-repeat: no-repeat;
    background-size: 145% 200%;
    background-position: center;
    padding-bottom: 100px;
}

.profile {
    width: 83%;
}

.name {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 54px;
    color: var(--color-bluegreen);
}

.profession {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--color-bluegreenlight);
    font-weight: bold;
}

.iconify {
    color: var(--color-darkGray);
}

.iconify:hover {
    color: rgb(50, 9, 88);
}

.connect {
    padding: 3% 0;
}

.resumeBtn a {
    text-decoration: none;
    color: var(--color-white);
}

.resumeBtn {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 10px 0;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-white);
    box-shadow: 0 0 20px var(--color-white);
    border-radius: 10px;
    display: block;
    border: none;
}

.resumeBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--color-white);
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .profile-img {
        padding-bottom: 150px;
    }
}


/* -------------------------------------------------------- */


/* .about {
    margin-top: 0%;
    padding: 5rem;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    color: black;
    background-image: url('./images/about.jpg');
    height: auto;
    width: auto;
    padding: 7% 12%;
    filter: brightness(110%);
} */


/* --------------features----------------------- */


/* #features {
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat";
    padding: 7% 10%;
    color: var(--color-black);
    
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-stack {
    font-family: 'Signika Negative', sans-serif;
    font-size: 62px;
    color: var(--color-bluegreen);
    padding: 5% 0;
    margin-bottom: 5%;
    border-bottom: 1px solid var(--color-bluegreen);
}

#myskills {
    padding-top: 5%;
} */


/* ---------------------------------------------- */


/* ------------------projects-------------------- */


/* 

ul {
    list-style-type: none;
}

.row {
    --bs-gutter-x: 0rem;
    margin: 0 10%;
    padding: 30px 20px;
    max-width: 100%;
    flex-direction: row;
}

.col-lg-6 {
    margin: 30px 0;
}

.section-projects {
    background: rgba( 255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 3.5px);
    -webkit-backdrop-filter: blur( 3.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    width: 100%;
    padding: 35px 0;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    margin: 0 10px;
} */


/* #projects {
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat";
    color: rgb(5, 5, 5);
    padding: 0 10%;
    filter: brightness(95%);
}

.flex-project {
    display: flex;
}

.dual {
    width: 100%;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.project-head {
    font-family: 'Signika Negative', sans-serif;
    font-size: 62px;
    color: var(--color-bluegreen);
    padding: 5% 0;
    margin-bottom: 5%;
    border-bottom: 1px solid var(--color-bluegreen);
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.row>* {
    padding-bottom: 5%;
}

ul {
    list-style-type: none;
}

.section-projects {
    background: rgba( 255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 0px);
    -webkit-backdrop-filter: blur( 0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 30px 30px;
}

.btn {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 40px;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
} */


/* ---------------------------------------------- */


/* 
#blogs {
    background-image: url('./images/colorful-background.jpg');
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat";
    color: rgb(5, 5, 5);
    padding: 7% 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

#connect {
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat";
    color: rgb(5, 5, 5);
    padding: 7% 10%;
    filter: brightness(95%);
} */

.skills {
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skills {
    padding: 100px 0;
}

.skills_head,
.project-head {
    font-family: 'Signika Negative', sans-serif;
    font-size: 62px;
    color: var(--color-bluegreen);
    text-align: center;
    padding: 15px 0;
}

.card-layout {
    display: flex;
}

.card {
    padding: 0 7px;
    margin: 0 auto;
    width: 18rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-title {
    padding: 10px 0;
}

.card-link {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

.lang {
    list-style-type: none;
}


/* ------------------------------------------------------------- */

.projects {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab);
    padding: 100px 0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-card {
    margin: 10px auto;
    width: 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--color-white);
}

.project-all {
    display: flex;
    flex-wrap: wrap;
}

.button-source {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--color-violet);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;
}

.button-source:hover {
    border: 1px solid transparent;
}

.button-source:hover span {
    position: absolute;
    display: block;
}

.button-source:hover span:nth-child(1) {
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.button-source:hover span:nth-child(2) {
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.button-source:hover span:nth-child(3) {
    filter: hue-rotate(120deg);
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
        height: 3px;
    }
    50%,
    100% {
        height: 2px;
        right: 100%;
    }
}

.button-source:hover span:nth-child(4) {
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.content {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 7rem 0;
}

.heading {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--color-white);
}

.form-control {
    border: none;
    background: #f3f3f3;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3;
}

.col-form-label {
    color: #000;
}

.btn,
.form-control,
.custom-select {
    height: 50px;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn {
    border: none;
    border-radius: 4px !important;
}

.btn.btn-primary {
    background: none;
    color: #fff;
    padding: 15px 20px;
    border: 1px solid var(--color-white);
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}

.box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.form-control {
    margin: 10px 0;
}